p{
  /* color: black; */
  margin: 20% 0 5% 20%;
}
button{
  margin: 0 20% 5% 20%;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: cadetblue;
  color: white;
}
.pusher {
  margin-top: 5%;
}
.blackDiv{
  color: black;
}
.whiteDiv{
  color: white;
}