<!-- Page Contents -->
<div class="pusher">
<!-- BLACK-DIV -->
    <div class="ui vertical stripe segment blackDiv">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
              
                <div class="eight wide column">
                    
                        <p>Make the LED blinked by WiFi: </p>
                        <button (click)="blinkBtn()">
                            Blink
                        </button>
                        <img
                        src=""
                        class="ui large bordered rounded image">
                      </div>
                      <div class="six wide right floated column">
                          <h3 class="ui header">LED</h3>
                          <p>We can give your company superpowers to do things that they never thought
                              possible. Let us delight your customers and empower your needs...through pure
                              data analytics.</p>
                          <h3 class="ui header">We Make Bananas That Can Dance</h3>
                          <p>Yes that's right, you thought it was the stuff of dreams, but even bananas
                              can be bioengineered.</p>
                      </div>
                </div>
                <div class="row">
                    <div class="center aligned column">
                        <a class="ui huge button">Check Them Out</a>
                    </div>
                </div>
            </div>
        </div>
<!-- WHITE-DIV -->
        <div class="ui inverted vertical masthead aligned center segment whiteDiv">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="eight wide column">
                        <h3 class="ui header">LCD</h3>
                        <p>We can give your company superpowers to do things that they never thought
                            possible. Let us delight your customers and empower your needs...through pure
                            data analytics.</p>
                        <h3 class="ui header">We Make Bananas That Can Dance</h3>
                        <p>Yes that's right, you thought it was the stuff of dreams, but even bananas
                            can be bioengineered.</p>
                    </div>
                    <div class="six wide right floated column">
                            <p>Make the LED blinked by WiFi: </p>
                            <button (click)="blinkBtn()">
                                Blink
                            </button>
                            <img
                                src=""
                                class="ui large bordered rounded image">
                    </div>
                    </div>
                    <div class="row">
                        <div class="center aligned column">
                            <a class="ui huge button">Check Them Out</a>
                        </div>
                    </div>
                </div>
        </div>
<!-- BLACK-DIV -->
        <div class="ui vertical stripe segment blackDiv">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                  
                    <div class="eight wide column">
                        <img
                            src=""
                            class="ui large bordered rounded image">
                          </div>
                          <div class="six wide right floated column">
                              <h3 class="ui header">SERVO</h3>
                              <p>We can give your company superpowers to do things that they never thought
                                  possible. Let us delight your customers and empower your needs...through pure
                                  data analytics.</p>
                              <h3 class="ui header">We Make Bananas That Can Dance</h3>
                              <p>Yes that's right, you thought it was the stuff of dreams, but even bananas
                                  can be bioengineered.</p>
                          </div>
                    </div>
                    <div class="row">
                        <div class="center aligned column">
                            <a class="ui huge button">Check Them Out</a>
                        </div>
                    </div>
                </div>
            </div>
<!-- WHITE-DIV -->
<div>

</div>
            <div class="ui inverted vertical footer segment">
                <div class="ui container">
                    <div class="ui stackable inverted divided equal height stackable grid">
                        <div class="three wide column">
                            <h4 class="ui inverted header">About</h4>
                            <div class="ui inverted link list">
                                <a href="#" class="item">Sitemap</a>
                                <a href="#" class="item">Contact Us</a>
                                <a href="#" class="item">Religious Ceremonies</a>
                                <a href="#" class="item">Gazebo Plans</a>
                            </div>
                        </div>
                        <div class="three wide column">
                            <h4 class="ui inverted header">Services</h4>
                            <div class="ui inverted link list">
                                <a href="#" class="item">Banana Pre-Order</a>
                                <a href="#" class="item">DNA FAQ</a>
                                <a href="#" class="item">How To Access</a>
                                <a href="#" class="item">Favorite X-Men</a>
                            </div>
                        </div>
                        <div class="seven wide column">
                            <h4 class="ui inverted header">Footer Header</h4>
                            <p>Extra space for a call to action inside the footer that could help re-engage
                                users.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
