p{
  color: black;
  margin: 100px 0 20px 100px;
}
button{
  margin: 0px 100px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: cadetblue;
  color: white;
.pusher {
  margin-top: 5%;
}