<!-- Page Contents -->
<div class="pusher">
    <!-- BLACK-DIV -->
    <div class="ui vertical stripe segment blackDiv">
        <div class="ui middle aligned stackable grid container">
            <div class="row">

                <div class="eight wide column">
                    <img src="./../../assets/led-rgb.png" class="ui large rounded image"></div>
                    <div class="eight wide right floated column">

                        <h2 class="ui header">
                            <i class="lightbulb icon"></i>
                            <div class="content">
                                LED: Make the LED light turn on or off, blink or change its color through wifi
                            </div>
                        </h2>
                        <div class="ui grid toggleButton">
                            <div class="six wide column">
                                <p>Turn ON/OFF the LED</p>
                                <div class="ui toggle checkbox toggleButton">
                                    <input type="checkbox" name="public" (click)="toggleBtn()">
                                        <label>ON/OFF</label>
                                    </div>
                                </div>

                                <div class="ten wide column">
                                    <p class="toTheRight">Make the LED change its colors</p>
                                    <div class="ui middle aligned center aligned grid">
                                        <div class="five wide column">
                                            <button class="ui red button" (click)="turnRedLED()">
                                                Red
                                            </button>
                                        </div>
                                        <div class="five wide column">
                                            <button class="ui blue button" (click)="turnBlueLED()">
                                                Blue
                                            </button>
                                        </div>
                                        <div class="six wide column">
                                            <button class="ui green button" (click)="turnGreenLED()">
                                                Green
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- WHITE-DIV -->
            <div class="ui inverted vertical masthead aligned center segment whiteDiv">
                <div class="ui middle aligned stackable grid container">
                    <div class="row">
                        <div class="six wide column">
                            <h2 class="inverted ui header">
                                <i class="keyboard icon"></i>
                                <div class="content">
                                    LCD: Make the LCD show a custom message on the screen or run an animation
                                </div>
                            </h2>
                            <div class="ui inverted attached segment input">
                                <input type="text" maxlength="16" name="texto" (keyup.enter)="onKey($event)">
                            </div>
                                <div class="aligned ui segment input inverted">
                                    <a class="ui teal huge button buybtn" (click)="runningMan()">Activate the running man</a>
                                </div>
                            </div>
                            <div class="eight wide right floated column">
                                <img src="./../../assets/try4.png" class="ui big rounded image"></div>
                            </div>
                        </div>
                    </div>
                    <!-- BLACK-DIV -->
                    <div class="ui vertical stripe segment blackDiv">
                        <div class="ui middle aligned stackable grid container">
                            <div class="row">

                                <div class="eight wide column">
                                    <img src="../../assets/servo.png" class="ui large rounded image"></div>
                                    <div class="six wide right floated column">
                                        <h2 class="ui header">
                                            <i class="space shuttle icon"></i>
                                            <div class="content">
                                                SERVO: Make the motor run
                                            </div>
                                        </h2>
                                        <br/>
                                        <div class="ui buttons servoButton">
                                            <button class="ui blue button" (click)="servoOn()" >ON</button>
                                            <div class="or"></div>
                                            <button class="ui red button" (click)="servoOff()">OFF</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- WHITE-DIV -->
                        <div class="ui inverted vertical footer segment"></div>
                    </div>