<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
    <div class="ui four item massive top inverted fixed menu" [ngClass]="{'secondary': inverted}">
        <!-- inverted -->
       <a class="item" [routerLink]="['/home']">
         Home
       </a>
       <a class="item" [routerLink]="['/functions']">
        Functions
       </a>
       <a class="item" [routerLink]="['/about']">
        About
       </a>
       <a *ngIf="user" class="item" (click)="logout()">
        Logout
      </a>
     </div>
       <router-outlet></router-outlet>
</div>
