.logForm{
  position: fixed;
  text-align: center;
  padding-left: 38.5%;
  /* padding-right: 38%;  */
  margin-top: 10%;
  /* // margin: auto auto; */
}
.forms{
  /* text-align: left; */
  width: 300px;
  margin-top: 50px;
}
.bordered {
  color: white;
  /* border: 2px solid white; */
  /* rgb(88, 180, 241); */
  background-color: rgb(202, 199, 199);
}
.logForm button{
  margin: 0 5%; 
}
.signupErr .form-control.ng-touched.ng-invalid{
  border: 1px solid red;
}
.errMsg{
  color: red;
  border-radius: 3px;
}