<div class="logForm">
    <button
    class="ui inverted primary basic button"
    [ngClass]="{ bordered: color }"
    [disabled]="isLogInDisabled"
    (click)="toggleInput('in'); changeBorder()"
    [style.backgroundColor]="!isActiveLogin ? 'rgb(88, 180, 241)' : 'rgb(202, 199, 199)'"
  >Login
  </button>
  <button
    class="ui inverted primary basic button"
    [ngClass]="{ bordered: color }"
    [disabled]="isSgnUpDisabled"
    (click)="toggleInput('up'); changeBorder()"
    [style.backgroundColor]="!isActiveSignup ? 'rgb(88, 180, 241)' : 'rgb(202, 199, 199)'"
  >Signup</button>  
    
  <div class="forms">
      <div *ngIf="isSgnUpDisabled">
        <!-- FORM TO SIGNUP -->
        <div class="ui middle aligned center aligned grid">
            <div class="column">
              <h2 class="ui teal image header">
              </h2>
        <form class="ui large form" #form="ngForm" (ngSubmit)="signup()">
            <div class="ui stacked segment">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
              <input 
                id="username" 
                class="form-control" 
                type="text" 
                name="username" 
                [(ngModel)]="newUser.username" 
                placeholder="Your username" 
                required>
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
              <input 
                id="password1" 
                type="password" 
                class="form-control" 
                [(ngModel)]="newUser.password" 
                name="password" 
                placeholder="Your password" 
                required>
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
              <input 
                id="password2" 
                type="password" 
                class="form-control" 
                name="password2" 
                aria-describedby="passwordHelp" 
                placeholder="Repeat password" 
                [(ngModel)]="newUser.password2"
                required>
              </div>
            </div>
            <input type="submit" class="ui fluid large blue submit button" value="Sign Up">
          </div>
          <div class="ui error message"></div>
          </form>
        <div>{{error}}</div>
      </div>
      </div>
      </div>

      <div *ngIf="isLogInDisabled">
        <!-- FORM TO LOGIN -->
        <div class="ui middle aligned center aligned grid">
            <div class="column">
              <h2 class="ui teal image header">
              </h2>
              <form class="ui large form" (ngSubmit)="login()">
                <div class="ui stacked segment">
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="user icon"></i>
                      <input 
                        class="form-control" 
                        type="text" 
                        name="username" 
                        id="username1"  
                        [(ngModel)]="user.username" 
                        placeholder="Enter username" 
                        required>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="lock icon"></i>
                      <input 
                        type="password" 
                        class="form-control" 
                        name="password"  
                        id="inputPassword2" 
                        [(ngModel)]="user.password" 
                        placeholder="Password" 
                        required>
                    </div>
                  </div>
                  <input type="submit" class="ui fluid large blue submit button" value="Log In">
                </div>
          
                <div class="ui error message"></div>
          
              </form>
              <div> {{error}}</div>
            </div>
          </div>
      </div> <!-- ngIf="isLogInDisabled" -->
      
      
  </div> <!-- forms -->
</div> <!-- logForm -->



