
  <!-- PAGE CONTENTS -->
  <div class="pusher">
      
    
      <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
          <div class="row">

            <!-- PROFILE -->
            <div *ngIf="!isEditing" class="six wide column">
                <div class="ui medium centered card">
                  <div class="image">
                    <img src="https://cdn3.iconfinder.com/data/icons/robots-3/64/_friendly_female_robot-512.png">
                  </div>
                  <div *ngIf="this.authControlLog.globalUser" class="content">
                    <p class="header">{{this.authControlLog.globalUser}}</p>
                  </div>
                </div>
              

                  <!-- BUTTONS -->
                      <div class="centered aligned column">
                        <a class="ui huge button buybtn"
                            (click)="editForm()"
                          >Edit
                        </a>
                        <a class="ui huge button buybtn" (click)="deleteBtn()">Delete</a>
                      </div>          
            </div>
            
            <!-- EDIT FORM -->
            <div *ngIf="isEditing" class="ui middle aligned center aligned grid">
                <!-- <div class="ui middle aligned center aligned grid"> -->
                    <div class="column">
                      <h2 class="ui teal image header"></h2>
                      <form class="ui large form error" #form="ngForm" (ngSubmit)="editBtn()">
                          <div class="ui large stacked segment signupErr">
                              <div class="two field">
                                <div class="field">
                                  <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input 
                                      id="username" 
                                      type="text" 
                                      class="form-control" 
                                      name="username" 
                                      [(ngModel)]="newInfo.username" 
                                      #myName="ngModel"
                                      minlength="2" 
                                      placeholder="{{this.authControlLog.globalUser}}"
                                      required>
                                  </div>
                                </div>
                                <div
                                  class="two field error errMsg"
                                  *ngIf="!myName.valid && (myName.dirty || myName.touched)">
                                  <div *ngIf="myName.errors.required" class="field">
                                      <!-- [hidden]="!myPerson.errors" -->
                                      <div class="ui mini error message">
                                          <div class="header">The [username] is required.</div>
                                        </div>
                                  </div>
                                  <div *ngIf="myName.errors.minlength" class="field">
                                      <div class="ui mini error message">
                                          <div class="header">Name must be at least
                                              {{myName.errors.minlength.requiredLength}}
                                              characters long.
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                              <div class="two field">
                                <div class="field">
                                  <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input 
                                      id="password1" 
                                      type="password" 
                                      class="form-control" 
                                      [(ngModel)]="newInfo.password" 
                                      name="password" 
                                      #myPassword="ngModel"
                                      placeholder="New password" 
                                      required>
                                  </div>
                                </div>
                                <div class="field error errMsg" *ngIf="!myPassword.valid && myPassword.touched">
                                    <div *ngIf="myPassword.errors.required">
                                        <div class="ui mini error message">
                                            <div class="header">
                                              The [password] is required.
                                            </div>
                                          </div>
                                      </div>
                                </div>
                              </div>
                              <div class="two field">
                                  <div class="field">
                                    <div class="ui left icon input">
                                      <i class="lock icon"></i>
                                      <input 
                                        id="password2" 
                                        type="password" 
                                        class="form-control" 
                                        [(ngModel)]="newInfo.password2" 
                                        name="password2" 
                                        #myPassword2="ngModel"
                                        placeholder="Repeat new password" 
                                        required>
                                    </div>
                                  </div>
                                  <div class="field error errMsg" *ngIf="!myPassword2.valid && myPassword2.touched">
                                      <div *ngIf="myPassword2.errors.required">
                                          <div class="ui mini error message">
                                              <div class="header">
                                                Repeat the password pleace.
                                              </div>
                                            </div>
                                        </div>
                                  </div>
                                </div>
                              <input 
                                type="submit" 
                                class="ui fluid large blue submit button" 
                                value="Update"
                                [disabled]="!form.valid">
                          </div>
                          <div class="ui error message"></div>
                        </form>
                
                <div>{{error}}</div>
              </div>
              <!-- </div> -->
            </div>

            <!-- ARDUINO IMAGE -->
            <div class="six wide right floated column">
              <img src="./../../assets/arduino-icon-5.png" class="ui large rounded image">
            </div>
          </div>
          
        </div>
      </div>
    
      <!-- INSTRUCTIONS AND HARDWARE SECTION -->
      <div class="ui vertical segment">
        <div class="ui equal width stackable internally celled grid">
          <div class="center aligned row">
            <div class="column">
              <h2>INSTRUCTIONS</h2>
              <ol class="ui content large list">
                  <li>Install the Arduino IDE</li>
                  <li>Plug the Arduino</li>
                  <li>In the IDE go to
                    <ol>
                      <li>Files</li>
                      <li>Examples</li>
                      <li>Firmata</li>
                      <li>Standard Firmata</li>
                    </ol>
                  </li>
                  <li>Go to
                      <ol>
                          <li>Tools</li>
                          <li>Board: Choose the one you have (it should be there automatically)</li>
                          <li>Port: choose it (should select it automatically as well)</li>
                        </ol>
                  </li>
                  <li>Press Verify (up and to the left)</li>
                  <li>Then Upload (right next to Verify)</li>
                  <li>And your Arduino is ready to rock with Johnny Five!</li>
                </ol>
            </div>


            <div class="column">
              <h2>HARDWARE USED FOR DEVELOPMENT</h2>
              <div class="ui large link list">
                  <a class="item active" target="_blank" href="https://www.amazon.com/EL-KIT-003-Project-Starter-Tutorial-Arduino/dp/B01D8KOZF4/ref=sr_1_3?ie=UTF8&qid=1536522587&sr=8-3&keywords=arduino+elegoo">Arduino Kit</a>
                  <a class="item active" target="_blank" href="https://www.amazon.com/gp/product/B010N1SPRK/ref=oh_aui_detailpage_o02_s00?ie=UTF8&psc=1">ESP8266 Wifi Chip</a>
                  <a class="item active" target="_blank" href="https://www.amazon.com/gp/product/B01LYZOPR0/ref=oh_aui_detailpage_o01_s00?ie=UTF8&psc=1">Arduino Holder</a>
                  <a class="item active" target="_blank" href="https://www.gamestop.com/collectibles/toys/hot-wheels-starship-series/161641#productDetails">Star Wars Starship :)</a>
                  <br/>
                  <span>If you want to go crazy just buy a raspberry pi...</span>
                </div>
            </div>
          </div>
        </div>
      </div>
    

    <!-- TECHONOLOGIES USED SECTION -->
      <div class="ui vertical stripe segment">
        <div class="ui text container">
          <h3 class="ui header centered">
              <i class="npm icon"></i> TECHNOLOGIES</h3>
          <div class="ui large horizontal divided list">
              <div class="item">
                <div class="content">
                  <div class="header">MongoDB</div>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <div class="header">Express.js</div>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <div class="header">Angular</div>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <div class="header">Node.js</div>
                </div>
              </div>
              <div class="item">
                  <div class="content">
                    <div class="header">Johnny Five</div>
                  </div>
                </div>
                <div class="item">
                    <div class="content">
                      <div class="header">Firmata</div>
                    </div>
                  </div>
              <div class="item">
                <div class="content">
                  <div class="header">JavaScript</div>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <div class="header">Semantic UI</div>
                </div>
              </div>
            </div>
        </div>
      </div>

      
    
    <!-- FOOTER -->
      <div class="ui inverted vertical footer segment">
        <div class="ui container">
          <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
              <h4 class="ui inverted header">Contact Us</h4>
              <div class="ui inverted link list">
                <a target="_blank"  href="https://www.linkedin.com/in/teresa-plaz/" class="item">Teresa Plaz</a>
                <a target="_blank"  href="https://www.linkedin.com/in/arielprez/" class="item">Ariel Perez</a>
              </div>
            </div>
            <div class="three wide column">
              <h4 class="ui inverted header">Services</h4>
              <div class="ui inverted link list">
                <span href="#" class="item">Arduino Instalation</span>
                <span href="#" class="item">Website Development</span>
                <span href="#" class="item">:)</span>
              </div>
            </div>
            <div class="seven wide column">
              <h4 class="ui inverted header">Now you're ready</h4>
              <p>You can use this website to manipulate your arduino or let us know if you want to add a function to the site</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
